
<!-- "Additional info" form for Stepy wizard -->
<div class="row">
	<div class="col-md-6">
		<div class="form-group">
			<label class="d-block">Applicant resume:</label>
            <input type="file" name="resume" class="form-input-styled" data-fouc>
            <span class="form-text text-muted">Accepted formats: pdf, doc. Max file size 2Mb</span>
        </div>
	</div>

	<div class="col-md-6">
		<div class="form-group">
			<label>Where did you find us?</label>
            <select name="source" data-placeholder="Choose an option..." class="form-control form-control-select2">
                <option>
                <option value="monster">Monster.com
                <option value="linkedin">LinkedIn
                <option value="google">Google
                <option value="adwords">Google AdWords
                <option value="other">Other source
            </select>
        </div>
	</div>
</div>

<div class="row">
	<div class="col-md-6">
		<div class="form-group">
			<label>Availability:</label>
			<div class="form-check">
				<label class="form-check-label">
					<input type="radio" name="availability" class="form-input-styled">
					Immediately
				</label>
			</div>

			<div class="form-check">
				<label class="form-check-label">
					<input type="radio" name="availability" class="form-input-styled">
					1 - 2 weeks
				</label>
			</div>

			<div class="form-check">
				<label class="form-check-label">
					<input type="radio" name="availability" class="form-input-styled">
					3 - 4 weeks
				</label>
			</div>

			<div class="form-check">
				<label class="form-check-label">
					<input type="radio" name="availability" class="form-input-styled">
					More than 1 month
				</label>
			</div>
		</div>
	</div>

	<div class="col-md-6">
		<div class="form-group">
			<label>Additional information:</label>
            <textarea name="additional-info" rows="5" cols="5" placeholder="If you want to add any info, do it here." class="form-control"></textarea>
        </div>
	</div>
</div>
<!-- /"additional info" form for Stepy wizard -->