
<!-- "Educaiton" form for Stepy wizard -->
<div class="row">
	<div class="col-md-6">
		<div class="form-group">
			<label>University:</label>
            <input type="text" name="university" placeholder="University name" class="form-control">
        </div>
	</div>

	<div class="col-md-6">
		<div class="form-group">
			<label>Country:</label>
            <select name="university-country" data-placeholder="Choose a Country..." class="form-control form-control-select2">
                <option>
                <option value="1">United States
                <option value="2">France
                <option value="3">Germany
                <option value="4">Spain
            </select>
        </div>
	</div>
</div>

<div class="row">
	<div class="col-md-6">
		<div class="form-group">
			<label>Degree level:</label>
            <input type="text" name="degree-level" placeholder="Bachelor, Master etc." class="form-control">
        </div>

		<div class="form-group">
			<label>Specialization:</label>
            <input type="text" name="specialization" placeholder="Design, Development etc." class="form-control">
        </div>
	</div>

	<div class="col-md-6">
		<div class="row">
			<div class="col-md-6">
				<label>From:</label>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
                            <select name="education-from-month" data-placeholder="Month" class="form-control form-control-select2">
                            	<option>
                                <option value="January">January
                                <option value="...">...
                                <option value="December">December
                            </select>
                        </div>
					</div>

					<div class="col-md-6">
						<div class="form-group">
                            <select name="education-from-year" data-placeholder="Year" class="form-control form-control-select2">
                                <option>
                                <option value="1995">1995
                                <option value="...">...
                                <option value="1980">1980
                            </select>
                        </div>
					</div>
				</div>
			</div>

			<div class="col-md-6">
				<label>To:</label>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
                            <select name="education-to-month" data-placeholder="Month" class="form-control form-control-select2">
                            	<option>
                                <option value="January">January
                                <option value="...">...
                                <option value="December">December
                            </select>
                        </div>
					</div>

					<div class="col-md-6">
						<div class="form-group">
                            <select name="education-to-year" data-placeholder="Year" class="form-control form-control-select2">
                                <option>
                                <option value="1995">1995
                                <option value="...">...
                                <option value="1980">1980
                            </select>
                        </div>
					</div>
				</div>
			</div>
		</div>

		<div class="form-group">
			<label>Language of education:</label>
            <input type="text" name="education-language" placeholder="English, German etc." class="form-control">
        </div>
	</div>
</div>
<!-- /"educaiton" form for Stepy wizard -->