
<!-- "Experience" form for Stepy wizard -->
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label>Company:</label>
            <input type="text" name="experience-company" placeholder="Company name" class="form-control">
        </div>

        <div class="form-group">
            <label>Position:</label>
            <input type="text" name="experience-position" placeholder="Company name" class="form-control">
        </div>

        <div class="row">
            <div class="col-md-6">
                <label>From:</label>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <select name="education-from-month" data-placeholder="Month" class="form-control form-control-select2">
                                <option>
                                <option value="January">January
                                <option value="...">...
                                <option value="December">December
                            </select>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <select name="education-from-year" data-placeholder="Year" class="form-control form-control-select2">
                                <option>
                                <option value="1995">1995
                                <option value="...">...
                                <option value="1980">1980
                            </select>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <label>To:</label>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <select name="education-to-month" data-placeholder="Month" class="form-control form-control-select2">
                                <option>
                                <option value="January">January
                                <option value="...">...
                                <option value="December">December
                            </select>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <select name="education-to-year" data-placeholder="Year" class="form-control form-control-select2">
                                <option>
                                <option value="1995">1995
                                <option value="...">...
                                <option value="1980">1980
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="form-group">
            <label>Brief description:</label>
            <textarea name="experience-description" rows="4" cols="4" placeholder="Tasks and responsibilities" class="form-control"></textarea>
        </div>

        <div class="form-group">
            <label class="d-block">Recommendations:</label>
            <input name="recommendations" type="file" class="form-input-styled" data-fouc>
            <span class="form-text text-muted">Accepted formats: pdf, doc. Max file size 2Mb</span>
        </div>
    </div>
</div>
<!-- /"experience" form for Stepy wizard -->