
<!-- "Personal data" form for Stepy wizard -->
<div class="row">
	<div class="col-md-6">
		<div class="form-group">
			<label>Select location:</label>
			<select name="location" data-placeholder="Select position" class="form-control form-control-select2">
				<option>
				<optgroup label="North America">
					<option value="1">United States
					<option value="2">Canada
				</optgroup>

				<optgroup label="Latin America">
					<option value="3">Chile
					<option value="4">Argentina
					<option value="5">Colombia
					<option value="6">Peru
					<option value="7">Brazil
				</optgroup>

				<optgroup label="Europe">
					<option value="8">Croatia
					<option value="9">Hungary
					<option value="10">Ukraine
					<option value="11">Greece
					<option value="12">Norway
					<option value="13">Germany
					<option value="14">United Kingdom
					<option value="15">Denmark
					<option value="16">France
					<option value="17">Austria
					<option value="18">Italy
					<option value="19">Spain
					<option value="20">Poland
				</optgroup>
			</select>
		</div>
	</div>

	<div class="col-md-6">
		<div class="form-group">
			<label>Select position:</label>
			<select name="position" data-placeholder="Select position" class="form-control form-control-select2">
				<option>
				<optgroup label="Developer Relations">
					<option value="1">Sales Engineer
					<option value="2">Ads Solutions Consultant
					<option value="3">Technical Solutions Consultant
					<option value="4">Business Intern
				</optgroup>

				<optgroup label="Engineering &amp; Design">
					<option value="5">Interaction Designer
					<option value="6">Technical Program Manager
					<option value="7">Software Engineer
					<option value="8">Information Security Engineer
					<option value="9">Security Engineer
					<option value="10">Usability Expert
					<option value="11">UI Designer
					<option value="12">Illustrator
				</optgroup>

				<optgroup label="Marketing &amp; Communications">
					<option value="13">Media Outreach Manager
					<option value="14">Research Manager
					<option value="15">Marketing Intern
					<option value="16">Business Intern
				</optgroup>
			</select>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-6">
		<div class="form-group">
			<label>Applicant name:</label>
			<input type="text" name="name" class="form-control" placeholder="John Doe">
		</div>
	</div>

	<div class="col-md-6">
		<div class="form-group">
			<label>Email address:</label>
			<input type="email" name="email" class="form-control" placeholder="your@email.com">
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-6">
		<div class="form-group">
			<label>Phone #:</label>
			<input type="text" name="tel" class="form-control" placeholder="+99-99-9999-9999" data-mask="+99-99-9999-9999">
		</div>
	</div>

	<div class="col-md-6">
		<label>Date of birth:</label>
		<div class="row">
			<div class="col-md-4">
				<div class="form-group">
					<select name="birth-month" data-placeholder="Month" class="form-control form-control-select2">
						<option>
						<option value="1">January
						<option value="2">February
						<option value="3">March
						<option value="4">April
						<option value="5">May
						<option value="6">June
						<option value="7">July
						<option value="8">August
						<option value="9">September
						<option value="10">October
						<option value="11">November
						<option value="12">December
					</select>
				</div>
			</div>

			<div class="col-md-4">
				<div class="form-group">
					<select name="birth-day" data-placeholder="Day" class="form-control form-control-select2">
						<option>
						<option value="1">1
						<option value="2">2
						<option value="3">3
						<option value="4">4
						<option value="5">5
						<option value="6">6
						<option value="7">7
						<option value="8">8
						<option value="9">9
						<option value="10">10
						<option value="11">11
						<option value="12">12
						<option value="13">13
						<option value="14">14
						<option value="15">15
						<option value="16">16
						<option value="17">17
						<option value="18">18
						<option value="19">19
						<option value="20">20
						<option value="21">21
						<option value="22">22
						<option value="23">23
						<option value="24">24
						<option value="25">25
						<option value="26">26
						<option value="27">27
						<option value="28">28
						<option value="29">29
						<option value="30">30
						<option value="31">31
					</select>
				</div>
			</div>

			<div class="col-md-4">
				<div class="form-group">
					<select name="birth-year" data-placeholder="Year" class="form-control form-control-select2">
						<option>
						<option value="1">1980
						<option value="2">1981
						<option value="3">1982
						<option value="4">1983
						<option value="5">1984
						<option value="6">1985
						<option value="7">1986
						<option value="8">1987
						<option value="9">1988
						<option value="10">1989
						<option value="11">1990
					</select>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- /"personal data" form for Stepy wizard -->